---
hide-toc: true
---

# {{ project_name }}

```{include} ../README.md
:start-after: <!-- start description -->
:end-before: <!-- end description -->
```

```{include} ../README.md
:start-after: <!-- start features -->
:end-before: <!-- end features -->
```

```{toctree}
:hidden:

installation
quickstart
license
API Reference <api/{{ python_import_name }}/index>
```
